server:
  port: 8888

eureka:
  instance:
    hostname: configserver
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/khauser/microservices4vaadin-config